@model MediaSwap.Web.ViewModels.SearchItemViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("", "", FormMethod.Post, new { @class = "form-search" }))
{
   

   
    @Html.TextBox("search", "", new { @placeholder="by name" , @class="input-medium search-query" })
    <input type="submit" value="Search" class="btn" />
}  

<table class="table">
    <tr>
        <th>
          Name
        </th>
        <th>Format</th>
        <th></th>
    </tr>
    @if(@Model.ItemResults != null)
    {
        foreach (var item in Model.ItemResults)
        {
            <tr id="@item.Item.ItemId.ToString()">
            
            @{
                Html.RenderPartial("_ItemView", item);
            }
             </tr>
        }
    }
</table>


<script type="text/javascript">
    function AddItemComplete(xmlHttp) {
        if (xmlHttp.status == 401) {
            window.location = "/User/Login";
        }
    }

    function AddItemSuccess(result, textStatus, jqXHR) {

        
    }
    function AddItemFailed(result, textStatus, jqXHR)
     {

        
     }

     $(function () {

         $.ajax({
             statusCode: {
                 404: function () {
                     alert('page not found');
                 }
                 ,
                 401: function () {
                     alert('not authorized');
                 }
             }
         });

     }
     );
</script>