<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AspNetHaack" version="0.0.1" />
  <package id="DataAnnotationsExtensions" version="1.0.0.0" />
  <package id="DataAnnotationsExtensions.MVC3" version="1.0.0.0" />
  <package id="DotNetOpenAuth" version="3.4.7.11121" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" />
  <package id="MiniProfiler" version="1.9" />
  <package id="MiniProfiler.EF" version="1.9.1" />
  <package id="PagedList" version="1.10" />
  <package id="WebActivator" version="1.4.4" />
</packages>