<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="PagedList" version="1.10" />
  <package id="DataAnnotationsExtensions" version="1.0.0.0" />
  <package id="DataAnnotationsExtensions.MVC3" version="1.0.0.0" />
  <package id="WebActivator" version="1.2.0.0" />
  <package id="DotNetOpenAuth" version="3.4.7.11121" />
</packages>