@model IEnumerable<MediaSwap.Core.Models.Queue>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>


<table>
<thead>
    <tr>
        <th>Name</th>
        <th>Owner</th>
        <th>Status</th>
    </tr>
</thead>
<tbody>
@foreach (var item in Model)
{
    <tr>
        <td>@item.Item.ItemName </td>
        <td>@item.Owner.UserName</td>
        <td>@item.Status </td>
        
    </tr>
    
}


</tbody>
</table>